@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
	--lftw: 260px;
	--logowrap: 60px;
	--shrnkw: 90px;
	--gap: 15px;
	--success1: rgb(158 243 177 / 15%);
	--success2: #a8ffb7;
	--danger1: rgb(243 158 158 / 15%);
	--danger2: #ffa8a8;
	--primary1: rgb(158 160 243 / 15%);
	--primary2: #a8b2ff;
	--secondary1: rgb(243 214 158 / 15%);
	--secondary2: #ffd2a8;
	--info1: rgb(231 158 243 / 15%);
	--info2: #eea8ff;
	--dark1: rgb(59 59 59 / 26%);
	--dark2: #999999;
	--default1: rgb(247 148 33 / 15%);
	--default2: #ffbb6c;
	--border1: #4343435c;
	--background1: #191612;
	--sl: 54px;
	--colordark: #b3b3b3;
	--prfmodalhead: 46px;
	--cominfoleft: 190px;
	--monitorright: 400px;
	--login-right: 400px;
}


a,
a:hover {
	color: inherit;
	text-decoration: none;
}

button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus {
	outline: 0;
}

body {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	background-image: linear-gradient(135deg, #2b2b2b, #000000de), linear-gradient(334deg, #e17700, #2b2b2b);
	height: 100vh;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 50px;
	overflow: hidden;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar,
.select2-container--default .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar {
	height: 2px;
	cursor: pointer !important;
}

/* Track */
::-webkit-scrollbar-track,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track,
.select2-container--default .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-track {
	background: #8c8c8c !important;
}

/* Handle */
::-webkit-scrollbar-thumb,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb,
.select2-container--default .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-thumb {
	background: #525151 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb:hover,
.select2-container--default .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-thumb:hover {
	background: #525151 !important;
}

.text-muted {
	color: var(--colordark) !important;
}

.flex-unset {
	flex: unset !important;
}

.w-max-con {
	width: max-content !important;
}

.badge_padding {
	border-radius: 5px !important;
	padding: 2px 5px !important;
}

/* default */
.bg_default {
	background-color: var(--default2) !important;
}

.text_default {
	color: var(--default2) !important;
}

.badge_default {
	background-color: var(--default1) !important;
	color: var(--default2) !important;
}

/* default */
/* success */
.bg_success {
	background-color: var(--success2) !important;
}

.text_success {
	color: var(--success2) !important;
}

.badge_success {
	background-color: var(--success1) !important;
	color: var(--success2) !important;
	border: 1px solid var(--success1) !important;
}

/* success */

.badge_partial {
	background-color: #8edb8e !important;
	color: #164d16 !important;
}

/* danger */
.bg_danger {
	background-color: var(--danger2) !important;
}

.text_danger {
	color: var(--danger2) !important;
}

.badge_danger {
	background-color: var(--danger1) !important;
	color: var(--danger2) !important;
	border: 1px solid var(--danger1) !important;
}

/* danger */

/* primary */
.bg_primary {
	background-color: var(--primary2) !important;
}

.text_primary {
	color: var(--primary2) !important;
}

.badge_primary {
	background-color: var(--primary1) !important;
	color: var(--primary2) !important;
	border: 1px solid var(--primary1) !important;
}

/* primary */

/* secondary */
.bg_secondary {
	background-color: var(--secondary2) !important;
}

.text_secondary {
	color: var(--secondary2) !important;
}

.badge_secondary {
	background-color: var(--secondary1) !important;
	color: var(--secondary2) !important;
	border: 1px solid var(--secondary1) !important;
}

/* secondary */
/* info */
.bg_info {
	background: var(--info2) !important;
}

.text_info {
	color: var(--info2) !important;
}

.badge_info {
	background: var(--info1) !important;
	color: var(--info2) !important;
	border: 1px solid var(--info1) !important;
}

/* info */
/* dark */
.text_dark {
	color: var(--dark2) !important;
}

.badge_dark {
	background: var(--dark1) !important;
	color: var(--dark2) !important;
	border: 1px solid var(--dark1) !important;
}

/* dark */
.action-black {
	background: #7f7f7f73 !important;
	color: #bdbdbd !important;
}

.action-transparent {
	background: transparent !important;
	color: white !important;
}

.mi-1 i {
	margin-right: 4px;
}

.br-5 {
	border-radius: 5px !important;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.login_wrap {
	display: flex;
	align-items: center;
	height: 100vh;
}

.login_left {
	width: calc(100% - var(--login-right));
	padding-right: var(--p40);
	position: relative;
	height: 100vh;
}

.login_right h2 {
	font-size: 54px;
	font-weight: 700;
}

.login_right h2 span {
	color: var(--sky);
}

.login_right p {
	color: var(--text-muted);
	font-weight: 300;
	margin-bottom: 30px;
}

.login_right ol {
	padding: 0;
	display: flex;
	gap: -1px;
	margin-bottom: 20px;
	flex-direction: column;
}

.login_right ol hr {
	height: 34px;
	width: 1px;
	background: #ffffff54;
	opacity: 1;
	margin: 0;
	position: relative;
	display: inline-block;
}

.login_right ol li {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 13px;
}

.login_right ol li span {
	color: var(--sky);
	height: 32px;
	min-width: 32px;
	background: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 1px solid var(--border);
}

.login_right ol li h6 {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.login_right ol li h6 n {
	font-size: 12px;
	text-transform: uppercase;
	color: var(--text-muted);
	font-weight: 500;
	display: none;
}

.login_right ol li h6 g {
	font-size: 14px;
}

.login_right {
	width: var(--login-right);
	border-radius: 10px;
	padding: 25px;
	background: var(--background);
	border: 1px solid var(--border);
}

.login_right h4 {
	font-size: 20px;
	margin-bottom: 3px;
	color: var(--sky);
}

.login_right p {
	margin-bottom: 7px;
	font-size: 13px;
	color: var(--text-muted);
}

.login_left img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.login_right .login_frm_wrap {
	/* margin-bottom: 9px; */
}

.login_right .login_frm_wrap label {
	font-size: 11px;
	margin-bottom: 5px;
	line-height: 11px;
}

.login_right .login_frm_wrap div {
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px;
	gap: 9px;
	padding-left: 15px;
	background: transparent;
	border: 1px solid var(--border1);
}

.login_right .login_frm_wrap div i {
	color: var(--sky);
}

.login_right .login_frm_wrap div input {
	width: 100%;
	font-size: 14px;
	background: transparent;
	border: 0;
	padding: 0 7px;
	color: white;

}

.login_right .login_frm_wrap div input::placeholder {
	font-size: 14px;
	color: #ffffff45;
}

.login_right .login_frm_wrap button {
	border: 0;
	background: var(--sky);
	color: white !important;
	border-radius: 4px;
	font-size: 15px;
	min-width: 33px;
}

.login_right .login_frm_wrap button i {
	color: var(--dark-blue);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: var(--lftw);
	top: 0;
	height: var(--logowrap);
	width: calc(100% - var(--lftw));
	padding: 0 var(--gap);
	background-image: linear-gradient(223deg, #2b2b2b, #000000db), linear-gradient(176deg, #e17700, #2b2b2b);
	z-index: 1;
}

header h2 {
	margin-bottom: 0;
	font-size: 18px;
}

.header_user {
	display: flex;
	align-items: center;
}

.header_user hr {
	height: 20px;
	width: 1px;
	border: 0;
	margin: 0 12px;
	background: var(--dark2);
	opacity: .5;
}

.notification {
	padding: 0;
	border: 0;
	background: transparent;
	color: white !important;
	font-size: 16px;
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 50px;
}

.notification.active {
	background-color: var(--danger1) !important;
	color: var(--danger2) !important;
}

.notification span {
	display: inline-block;
	width: 6px;
	height: 6px;
	background: var(--danger2);
	border-radius: 50px;
	position: absolute;
	top: 5px;
	right: 6px;
}

.user_drop,
.noti_drop {
	background: var(--background1);
	border: 1px solid var(--border1);
	padding: 0;
	min-width: 10rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	position: absolute;
	right: -100%;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
}

.user_drop.active,
.noti_drop.active {
	right: 10px;
	opacity: 1;
	visibility: visible;
	transition: .5s;
}

.user_drop ul,
.noti_drop ul {}

.user_drop a {
	font-size: 11px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	border-radius: 0;
	padding: 7px;
	gap: 7px;
	border-bottom: 1px solid var(--border1);
	margin-bottom: 10px;
}

.user_drop a:last-child {
	border: 0;
	margin: 0;
}

.noti_drop {
	width: 300px;
	padding: 10px;
}

.noti_drop ul li {
	font-size: 11px;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid var(--border1);
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.noti_drop ul li:last-child {
	border: 0;
	padding: 0;
	margin: 0;
}

.noti_drop ul li span {
	font-size: 9px;
	color: var(--dark2);
	display: inline-block;
	margin-bottom: 2px;
	display: flex;
	align-items: center;
	gap: 7px;
}

.noti_drop ul li span n i {
	margin-right: 4px;
}

.noti_drop ul li p {
	margin: 0;
	font-size: 10px;
}

.prf_head {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 13px;
	cursor: pointer;
	padding: 8px;
	border-radius: 0.25rem;
	color: white !important;
}

.prf_head.active {
	background-color: var(--dark1) !important;
}

.prf_head span {
	width: 30px;
	height: 30px;
	border: 1px solid #ffffffba;
	border-radius: 50px;
	overflow: hidden;
}

.prf_head span img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dash_lt {
	width: var(--lftw);
	height: 100%;
	transition: .5s;
	position: fixed;
	left: 0;
	top: 0;
}

.logo_wrap {
	height: var(--logowrap);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	z-index: 1;
	position: relative;
	width: 100%;
	background-image: linear-gradient(135deg, #2b2b2b, #000000db), linear-gradient(99deg, #e17700, #2b2b2b);
}

.logo_wrap img {
	height: 70%;
	filter: brightness(29.5);
	object-fit: contain;
}

.dash_lt_btm {
	height: var(--logowrap);
	background-image: linear-gradient(135deg, #2b2b2b, #000000db), linear-gradient(99deg, #e17700, #2b2b2b);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.dash_lt_btm img {
	width: 88px;
	margin-left: 6px;
}

.menu_wrap {
	width: 100%;
	padding: var(--gap) 0;
	height: calc(100% - var(--logowrap) * 2);
	background-image: linear-gradient(135deg, #2b2b2b, #000000db), linear-gradient(99deg, #e17700, #2b2b2b);
	position: relative;
}

.main_menu {
	display: flex;
	gap: 9px;
	height: 100%;
	flex-direction: column;
	overflow: auto;
	padding: 0 var(--gap);
}

.main_menu_li {}

.main_menu_li a {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	color: white;
}

.main_menu_li a.active,
.main_menu_li a:hover {
	color: #ffb569;
}

.main_menu_li a .menu_icon {
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: #484848; */
	/* border-radius: 10px; */
	/* color: white; */
	font-size: 14px;
}

.menu_txt_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 28px);
}

.main_menu_li a .menu_txt {
	padding-left: 8px;
	font-size: 13px;
	/* color: white; */
}

.main_menu_li a .menu_arrow {
	color: white;
	transition: .5s;
	font-size: 11px;
}

.has-sub::before,
.sub-has-sub::before {
	font-family: "Font Awesome 5 Pro";
	font-weight: 300;
	content: "\f105";
	color: currentColor;
	position: absolute;
	transition: .5s;
	right: 0;
}

.has-sub.active::before,
.sub-has-sub.active::before {

	transform: rotate(90deg);
	transition: .5s;
}

.menu_head {
	margin: 0;
	color: white;
	padding-bottom: 13px;
	border-bottom: 1px solid #ffffff47;
}

.sub_menu,
.sub_sub_menu {
	margin-top: 2px;
	padding-left: 38px;
	display: none;
	width: 100%;
}

.sub_menu_li {
	margin-top: 8px;
	width: 100%;
}

.sub_menu .sun_sub_menu_li:last-child {
	margin-bottom: 0px;
}

.sub_menu_li a {
	color: var(--dark2);
}

.sub_menu_li a.active,
.sub_menu_li a:hover {
	color: #ffb569;
}

.sub_menu_li a .menu_txt {
	padding-left: 14px;
	font-size: 12px;
	position: relative;
}

.sub_menu_li a .menu_txt::before {
	content: '';
	position: absolute;
	left: 0;
	top: 6px;
	width: 6px;
	height: 6px;
	background: var(--dark2);
	border-radius: 50px;
}

.sub_menu_li a.active .menu_txt::before,
.sub_menu_li a:hover .menu_txt::before {
	background: #ffb569;
}

.sub_menu_li a .menu_arrow {}

.sub_menu_li .sub_sub_menu {
	border-left: 1px solid #d16a00;
	padding-left: 14px;
}

.sub_menu_li .sub_sub_menu .sub_menu_li .menu_txt {
	padding-left: 0;
	font-size: 11px;
}

.sub_menu_li .sub_sub_menu .sub_menu_li .menu_txt::before {
	display: none;
}

.body_wrap {
	width: calc(100% - var(--lftw));
	height: calc(100% - var(--logowrap));
	position: fixed;
	top: var(--logowrap);
	left: var(--lftw);
	padding: var(--gap);
	overflow: auto;
}

.regi_img_circle {
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	width: 32px;
	height: 32px;
	background: rgb(59 59 59 / 51%);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.table_wrap {
	overflow: auto; 
	border-radius: 10px;
}

.table_wrap h {
	padding: 11px;
	font-size: 10px;
	color: var(--primary2);
	display: inline-block;
	background: var(--background1);
	width: 100%;
	display: flex;
	align-items: center;
	gap: 4px;
}

.table_wrap h i {
	font-size: 5px;
}

.table_wrap table {
	width: 100%;
	border-radius: 15px;
}

.table_wrap table th {
	background-color: #100e0d;
	color: white;
	font-weight: 100;
	padding: 11px;
	border-bottom: 1px solid var(--border1);
	text-align: left;
	font-weight: 300;
	font-size: 11px;
	text-transform: uppercase;
}

.table_wrap table th[align="center"] {
	text-align: center;
}

/* .table_wrap table thead tr th:first-child {
	border-top-left-radius: 10px;
}

.table_wrap table thead tr th:last-child {
	border-top-right-radius: 10px;
} */

.table_wrap table td {
	color: white;
	padding: 11px;
	border-top: 1px solid var(--border1);
	font-size: 10px;
	background-color: var(--background1);
}

/* .table_wrap table tbody tr:nth-last-child(2) td:first-child,
.table_wrap table tbody tr:nth-last-child(1) td:first-child {
	border-bottom-left-radius: 10px;
} */

/* .table_wrap table tbody tr:nth-last-child(2) td:last-child,
.table_wrap table tbody tr:nth-last-child(1) td:last-child {
	border-bottom-right-radius: 10px;
} */

.table_wrap table tbody tr.active td {
	border-radius: 0 !important;
}

/* .table_wrap table tbody tr.sub_table_tr td {
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
} */

.table_wrap table tbody tr:hover,
.table_wrap table tbody tr.active,
.pg_shdl_box ul li:hover,
.pg_shdl_box ul li.active {
	background-color: #080808 !important;
}

.table_wrap table .sl {
	text-align: center !important;
	width: var(--sl) !important;
}

.table_wrap table .action,
.accm_details_box.action {
	width: 92px !important;
	/* text-align: center !important; */
}

.table_wrap table th.action {
	text-align: right;
}

.tbody-th {
	border-radius: 0 !important;
}

.regi_name {
	font-size: 14px;
	font-weight: 500;
}

.regi_contact {
	display: flex;
	gap: 4px;
	font-size: 11px;
	margin-top: 8px;
	flex-direction: column;
}

.regi_contact span {
	color: var(--colordark);
}

.regi_contact span i {
	margin-right: 4px;
}

.regi_type {
	display: flex;
	gap: 7px;
	align-items: center;
	margin-bottom: 5px;
	/* font-weight: 600; */
	font-size: 10px;
	text-transform: uppercase;
	margin-top: 3px;
}

.action_div a,
.wrkshp_trak {
	font-size: 11px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	border-radius: 0;
	padding: 7px;
	gap: 7px;
	cursor: pointer;
	border: 0 !important;
}

.action_div {
	display: flex;
	gap: 3px;
	position: relative;
	justify-content: end;
}


.regi_data_grid_ul {
	display: flex;
	gap: var(--gap);
}

.regi_data_grid_ul li {
	flex: 1;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border: 1px solid var(--border1);
	border-radius: 10px;
	align-items: start;
	background: var(--background1);
	box-shadow: 0px 4px 7px #ffffff0f;
	transition: .5s;
}

.regi_data_grid_ul li:hover {
	box-shadow: 0px 8px 10px #ffffff1a;
	transition: .5s;
}

.regi_data_grid_ul li h5 {
	font-size: 12px;
	line-height: 17px;
	color: var(--colordark);
}

.regi_data_grid_ul li h4 {
	font-size: 20px;
	line-height: 21px;
	font-weight: 700;
}

.regi_data_grid_ul li h6 {
	font-size: 10px;
	line-height: 15px;
	margin-bottom: 0;
	font-weight: 500;
}

.regi_data_grid_ul span {
	border-radius: 5px;
	min-width: 36px;
	min-height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 19px;
}

.service_ul {
	display: grid;
	gap: 6px;
}

.service_ul li {
	font-size: 11px;
	padding: 6px 10px !important;
}

.service_ul li i {
	margin-right: 6px;
}

.service_ul li span {
	color: white;
}

.sub_table_div {
	/* border-radius: 10px; */
	/* overflow: hidden; */
	margin-left: var(--sl);
}

.service_detail_btn {
	background: #7f7f7f2e !important;
	color: #bdbdbdad !important;
	font-size: 18px;
	width: 25px;
	height: 25px;
	padding: 0;
	justify-content: center;
	margin: auto;
	border: 0;
	border-radius: 5px;
}

.service_detail_btn:hover,
.service_detail_btn.active {
	background: #4b4b4b !important;
	color: #bdbdbd !important;
}

.service_detail_btn.active {
	transform: rotate(180deg);
}

.sub_table_tr {
	display: none;
}

.sub_table_tr.active {
	display: table-row !important;
}

.table_wrap table tbody .sub_table_tr.active td .sub_table_div td {
	background-color: var(--background1) !important;
}

.table_wrap table tbody .sub_table_tr td .sub_table_div tr:last-child td {}

.table_wrap table tbody .sub_table_tr td .sub_table_div tr td:first-child,
.table_wrap table tbody .sub_table_tr td .sub_table_div tr td:last-child {
	color: white;
}

.table_wrap table tbody .sub_table_tr td .sub_table_div td {
	font-size: 11px;
	color: var(--colordark);
	border-radius: 0 !important;
}

/* .table_wrap table tbody .sub_table_tr td .sub_table_div tbody tr:last-child td:first-child {
	border-bottom-left-radius: 10px !important;
}

.table_wrap table tbody .sub_table_tr td .sub_table_div tbody tr:last-child td:last-child {
	border-bottom-right-radius: 10px !important;
} */

.bbp-pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 11px;
}

.bbp-pagination-count {
	color: var(--colordark);
	font-size: 10px;
}

.bbp-pagination-links {
	color: white;
	font-size: 12px;
	display: flex;
	gap: 10px;
}

.bbp-pagination-links .current {
	color: orange;
}

.pagination a {
	background: -moz-linear-gradient(top, #FFFFFF 0%, #DFDBDB 100%);
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #DFDBDB)); */
	/* background: -webkit-linear-gradient(top, #FFFFFF 0%, #c5822f 100%); */
	background: -o-linear-gradient(top, #FFFFFF 0%, #DFDBDB 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #DFDBDB 100%);
	background: linear-gradient(top, #FFFFFF 0%, #DFDBDB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DFDBDB');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DFDBDB')";
	font-size: 10px;
	color: white !important;
	text-decoration: none;
	display: inline-block;
	padding: 1px 7px;
	margin-right: .25em;
	border: 0 !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: none !important;
}

.pagination a.selected {
	background: var(--default1);
}

.regi_search_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.regi_search_wrap .regi_search {
	background: var(--background1);
	border: 1px solid var(--border1);
	border-radius: 10px;
	padding: 0 11px;
	display: flex;
	align-items: center;
	flex: 1;
}

.regi_search_wrap .regi_search i {
	color: var(--colordark);
}

.regi_search_wrap .regi_search input,
.list-action select {
	height: 37px;
	width: 100%;
	background: transparent;
	border: 0;
	padding-left: 11px;
	font-size: 11px;
	color: white;
}

.regi_search_wrap .regi_search input::placeholder {}

.regi_search_wrap .regi_search_wrap_btn_box {
	display: flex;
	justify-content: end;
	gap: 5px;
	flex: 1;
}

.regi_search_wrap .regi_search_wrap_btn_box a {
	background: var(--background1);
	border: 1px solid var(--border1);
	border-radius: 10px;
	height: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	padding: 0 11px;
	font-size: 13px;
	gap: 6px;
}

.regi_search_wrap .regi_search_wrap_btn_box a:hover {
	background: var(--dark1);
	box-shadow: 0 0 11px #99999933;
}

.regi_search_wrap .regi_search_wrap_btn_box a.add {
	background: var(--default1);
	border-color: var(--default1);
}

.regi_search_wrap .regi_search_wrap_btn_box a.add:hover {
	box-shadow: 0 0 11px #ffbb6c42;
}

.filter_wrap {
	background: var(--background1);
	border: 1px solid var(--border1);
	border-radius: 10px;
	padding: 15px;
	display: none;
}

.filter_wrap .filter_heading {
	margin-bottom: 15px;
	font-size: 13px;
	color: var(--colordark);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filter_wrap .filter_heading span {}

.filter_wrap .filter_heading .close_filter {}

.filter_wrap .filter_body {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 15px;
}

.filter_wrap .filter_body div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.filter_wrap .filter_body div label,
.frm-head {
	font-size: 11px;
}

.filter_wrap .filter_body div select,
.filter_wrap .filter_body div input,
.frm_grp input,
.frm_grp select,
.dis_input,
.frm_grp textarea {
	background: transparent;
	border: 1px solid var(--border1);
	color: white;
	font-size: 12px;
	height: 37px;
	padding: 7px;
	border-radius: 10px;
}

.frm_grp textarea {
	height: 75px;
	width: 100%;
}

.filter_wrap .filter_bottom {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 5px;
}

.filter_wrap .filter_bottom button {
	border: 0;
	background: transparent;
	color: var(--colordark);
	font-size: 13px;
}

.filter_wrap .filter_bottom button[type="submit"] {
	background: var(--background1);
	color: white;
	padding: 3px 10px;
	border-radius: 5px;
	font-size: 13px;
	border: 1px solid var(--border1);
}

.page_top_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page_top_wrap_left {}

.page_top_wrap_right {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 5px;
	/* width: 50%; */
}

.page_top_wrap_right p,
.page_top_wrap_right a {
	font-size: 10px;
	display: flex;
	gap: 8px;
	border: 1px solid var(--border1);
	border-radius: 50px;
	padding: 5px 11px;
	align-items: center;
	margin: 0;
	background: var(--dark1);
}

.page_top_wrap_right p i,
.page_top_wrap_right a i {}

.page_top_wrap_right p b {
	font-size: 12px;
}

.page_top_wrap .breadcrumb {
	padding: 0;
	margin-bottom: 5px;
	background-color: transparent;
	border-radius: 0;
}

.page_top_wrap .breadcrumb-item {
	font-size: 11px;
	color: var(--colordark);
}

.page_top_wrap .breadcrumb-item+.page_top_wrap .breadcrumb-item::before {
	padding-right: 5px;
	color: var(--colordark);
}

.page_top_wrap .breadcrumb-item.active {
	color: white;
}

.page_top_wrap .breadcrumb-item+.page_top_wrap .breadcrumb-item {
	padding-left: 5px;
}

.page_top_wrap h2 {
	font-size: 20px;
	line-height: 25px;
}

.page_top_wrap h6 {
	font-size: 11px;
	color: var(--colordark);
	margin: 0;
}

.pop_up_wrap {
	position: fixed;
	background: #6b6b6b36;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(4px);
	display: none;
	z-index: 1;
}

.pop_up_inner {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pop_up_body {
	background-image: linear-gradient(135deg, #2b2b2b, #000000de), linear-gradient(334deg, #e17700, #2b2b2b);
	border-radius: 10px;
	overflow: hidden;
	display: none;
	width: 388px;
}

#profile,
#viewhotel {
	width: 65%;
}

.profile_pop_up {
	display: flex;
	width: 100%;
	max-height: 80vh;
}

.profile_pop_left {
	width: var(--lftw);
	padding: var(--gap);
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	background-image: linear-gradient(135deg, #2b2b2b, #000000db), linear-gradient(99deg, #e17700, #2b2b2b);
	overflow: auto;
}

.profile_left_box {}

.profile_left_box h5 {
	text-align: center;
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 500;
}

.profile_left_box h6 {
	text-align: center;
	font-size: 11px;
	margin-bottom: 6px;
	color: var(--dark2);
}

.fourstar i:last-child,
.threestar i:nth-child(4),
.threestar i:nth-child(5) {
	opacity: .3;
}

.profile_left_box h4 {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 8px;
	color: var(--dark2);
}

.profile_left_box ul {
	display: grid;
	gap: 10px;
}

.profile_left_box ul li {
	display: flex;
	align-items: start;
	gap: 9px;
}

.profile_left_box ul li i {
	font-size: 15px;
	margin-top: 4px;
	color: var(--dark2);
}

.profile_left_box ul li p {
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	line-height: 15px;
	gap: 2px;
}

.profile_left_box ul li p b {
	font-weight: 500;
	font-size: 11px;
	color: var(--dark2);
}

.profile_left_box ul li p span {
	font-size: 12px;
}

.profile_left_box .regi_img_circle {
	font-size: 15px;
	width: 56px;
	height: 56px;
	margin-bottom: 10px !important;
}

.profile_uniq_sque {
	padding: 10px;
	border: 1px solid var(--border1);
	border-radius: 10px;
	background: var(--background1);
	box-shadow: 0px 4px 7px #ffffff0f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 11px;
	text-transform: uppercase;
	color: var(--info2);
}

.profile_uniq_sque span {
	color: var(--primary2);
}

.profile_pop_right {
	width: calc(100% - var(--lftw));
	overflow: auto;
}

.profile_pop_right_heading,
.registration-pop_heading {
	/* height: var(--prfmodalhead); */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px var(--gap);
	border-bottom: 1px solid;
	border-bottom: 1px solid var(--border1);
	background: var(--background1);
	position: sticky;
	top: 0;
	z-index: 1;
}

.profile_pop_right_heading span,
.registration-pop_heading span {
	font-size: 14px;
}

.profile_pop_right_heading p,
.registration-pop_heading p {
	margin: 0;
	display: flex;
	gap: 4px;
}

.profile_pop_right_heading p a,
.registration-pop_heading p a {
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	font-size: 13px;
}

.profile_pop_right_body {
	padding: var(--gap);
}

.profile_payments_grid_ul {
	display: flex;
	gap: 11px;
}

.profile_payments_grid_ul li {
	padding: 15px;
	border: 1px solid var(--border1);
	border-radius: 10px;
	background: var(--background1);
	box-shadow: 0px 4px 7px #ffffff0f;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile_payments_grid_ul li h6 {
	font-size: 12px;
	line-height: 17px;
	color: var(--colordark);
	margin-bottom: 3px;
}

.profile_payments_grid_ul h5 {
	font-size: 15px;
	line-height: 19px;
	font-weight: 500;
	margin-bottom: 0;
}

.profile_payments_grid_ul h5 span {
	font-size: 13px;
	align-items: center;
	/* gap: 5px; */
}

.profile_payments_grid_ul small {
	font-size: 10px;
	line-height: 15px;
	margin-top: 2px;
}

.service_breakdown_wrap {
	margin-top: var(--gap);
}

.service_breakdown_wrap h4 {
	font-size: 13px;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 10px;
}

.service_breakdown_wrap .table_wrap table th {
	padding: 9px;
	font-size: 11px;
}

.service_breakdown_wrap .table_wrap table td {
	padding: 9px;
}

#newregistartion,
#editregistartion,
#newhotel,
#edithotel {
	width: 1229px;
}

#edimailsettinglisting,
#ediexibitormailsettinglisting,
#edimembormailsettinglisting,
#newcombo,
#hoteltariff {
	width: 827px;
}

.registration_pop_up {
	max-height: 90vh;
	overflow: auto;
}

.registration-pop_body {
	display: flex;
	align-items: start;
	padding: var(--gap);
	gap: var(--gap);
}

.registration-pop_body_box {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.registration-pop_body_box_inner {
	padding: var(--gap);
	background: var(--background1);
	border-radius: 10px;
	border: 1px solid var(--border1);
}

.registration-pop_body_box_heading {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--border1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.registration-pop_body_box_heading span {
	font-size: 13px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--dark2);
	font-weight: 600;
}

.registration-pop_body_box_heading span i {
	color: var(--danger2);
}

.registration-pop_body_box_heading .add,
.com_info_box_inner_sub_head .add,
.com_info_box_head .add {
	border-radius: 5px;
	color: var(--danger2);
	padding: 3px 6px;
	font-size: 10px;
}

.registration-pop_body_box_heading .add:hover,
.com_info_box_inner_sub_head .add:hover,
.com_info_box_head .add:hover {
	background: var(--danger1);
	cursor: pointer;
}

.registration-pop_body_box_heading .date {}

.registration-pop_footer {
	padding: 10px var(--gap);
	position: sticky;
	bottom: 0;
	background: rgb(39 37 34);
	display: flex;
	justify-content: end;
	align-items: center;
	gap: var(--gap);
}

.registration_btn_wrap {
	display: flex;
	/* flex-direction: column; */
	gap: 6px;
}

.registration_btn_wrap button {
	padding: 7px 15px;
	border-radius: 5px;
	font-size: 12px;
}

.registration_btn_wrap button:hover {
	box-shadow: 0 0 11px #69696942;
}

.registration_btn_wrap button[type="submit"] {
	/* background: #346337e0 !important;
	color: white !important; */
}

.registration_btn_wrap button[type="submit"]:hover,
.track_frm_btm a:hover {
	box-shadow: 0 0 11px #a3ff7042;
}

.form_grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-gap: 10px;
}

.form_grid.g_6 {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.form_grid.g_3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.form_grid.g_2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.form_grid.g_1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.span_1 {
	grid-column: span 1 / span 1;
}

.span_2 {
	grid-column: span 2 / span 2;
}

.span_3 {
	grid-column: span 3 / span 3;
}

.span_4 {
	grid-column: span 4 / span 4;
}

.span_5 {
	grid-column: span 5 / span 5;
}

.span_6 {
	grid-column: span 6 / span 6;
}

.span_7 {
	grid-column: span 7 / span 7;
}

.frm-head {
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.frm_grp input,
.frm_grp select {
	width: 100%;
	border-radius: 5px;
}

.regi_category {
	display: none;
}

.accm_delet {
	width: 30px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	margin-left: auto;
	font-size: 14px;
	border: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	/* background: var(--danger1) !important; */
}

.accm_add_wrap {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.accm_add_empty {
	margin: 0;
	text-align: center;
	color: #9999997a;
	font-size: 12px;
	text-transform: capitalize;
}

.accm_add_box {
	background: var(--dark1);
	padding: 10px;
	border-radius: 5px;
	position: relative;
	padding-right: 40px;
}

.dis_input {
	width: 68px;
	font-size: 11px;
	height: 35px;
	padding: 3px;
	border-radius: 5px;
	text-align: center;
}

.regi_total {
	padding: 10px;
	border-radius: 5px;
	background: var(--info1);
	box-shadow: 0px 4px 7px #ffffff0f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 0;
	margin-top: 15px;
}

.regi_total span {
	color: var(--info2);
	font-size: 20px;
}

.payment_details {
	display: none;
}

.due_balance {
	border-radius: 5px;
	margin: 0;
	font-size: 12px;
}

.due_balance span {
	font-size: 16px;
}

.action_div .dropdown-toggle {
	font-size: 20px;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 0;
}

.action_div .dropdown-toggle.active {
	background: var(--danger1) !important;
}

.action_div .dropdown-toggle::after {
	display: none;
}

.action_div .dropdown-menu {
	background: var(--background1);
	border: 1px solid var(--border1);
	padding: 0;
	min-width: auto;
	width: max-content;
}

.regi_search_wrap .regi_search_wrap_btn_box a.active {
	background: #100e0d;
	box-shadow: 0px 4px 7px #ffffff0f;
}

.spot_listing,
.accm_listing {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.spot_box,
.accm_box {
	background: var(--background1);
	border: 1px solid var(--border1);
	border-radius: 10px;
	overflow: hidden;
}

.spot_box_top,
.accm_top {
	display: flex;
	align-items: start;
	padding: var(--gap);
}

.spot_name,
.accm_name {
	width: var(--lftw);
	border-right: 1px solid var(--border1);
}

.spot_details,
.accm_details {
	width: calc(100% - var(--lftw));
	display: flex;
	align-items: start;
	gap: 15px;
	padding-left: var(--gap);
}

.spot_details_box,
.accm_details_box {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.spot_details_box h5,
.accm_details_box h5 {
	font-size: 13px;
	text-transform: uppercase;
	color: var(--dark2);
	margin: 0;
}

.spot_details_box p,
.accm_details_box p {
	font-size: 12px;
	margin-bottom: 0;
}

.spot_details_box small {
	font-size: 10px;
	color: var(--dark2);
}

.spot_details_box h6 {
	font-size: 13px;
	margin: 0;
}

.spot_details_box h6 i {
	margin-right: 6px;
	color: var(--dark2);
}

.spot_details_box .pay_status,
.accm_details_box .pay_status {
	display: flex;
	align-items: center;
	/* gap: 4px; */
	font-size: 12px;
	margin-bottom: 0;
}

.accm_details_box .pay_status {
	font-size: 10px;
}

.spot_box_bottom,
.accm_bottom {
	padding: var(--gap);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #100e0d;
}

.spot_box_bottom_left {
	display: flex;
	align-items: center;
	gap: 10px;
}

.spot_box_bottom_left h6 {
	margin: 0;
	font-size: 11px;
	display: flex;
	gap: 15px;
	border: 1px solid var(--border1);
	border-radius: 5px;
	padding: 8px 10px;
	align-items: center;
}

.spot_box_bottom_left h6 i {
	font-size: 9px;
}

.spot_box_bottom_left h6 .fa-check,
.spot_box_bottom_left h6.active .fa-circle {
	display: none;
}

.spot_box_bottom_left h6.active {
	background: var(--success1);
	color: var(--success2);
	border-color: #a8ffb757;
}

.spot_box_bottom_left h6.active .fa-check {
	display: block;
}

.spot_box_bottom_right {
	display: flex;
	gap: 5px;
	align-items: center;
}

.spot_box_bottom_right a {
	font-size: 11px;
	display: flex;
	gap: 8px;
	border: 1px solid var(--border1);
	border-radius: 5px;
	padding: 8px 10px;
	align-items: center;
}

.spot_box_bottom_right a i {
	font-size: 12px;
}

.spot_box_bottom_right a.print {
	background: var(--primary1);
	border-color: #a8b2ff47;
}

.spot_box_bottom_right a.drp {

	padding: 6px 10px;
}

.spot_box_bottom_right a.drp i {
	font-size: 20px;
}

.spot_service_break,
.accm_tariff {
	padding: var(--gap);
	border-top: 1px solid var(--border1);
	display: none;
}

.spot_service_break .table_wrap,
.accm_tariff .table_wrap {
	border: 1px solid var(--border1);
}

.spot_service_action {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-top: var(--gap);
	gap: 5px;
}

.spot_service_action a {
	font-size: 11px;
	display: flex;
	gap: 8px;
	border-radius: 5px;
	padding: 8px 10px;
	align-items: center;
}

.spot_service_action a i {
	font-size: 12px;
}

.spot_service_action a.delet {
	color: var(--danger2) !important;
	border: 1px solid;
}

.spot_box_bottom_right a.drp.active {
	background: var(--dark1) !important;
	color: var(--dark2) !important;
}

.spot_box_bottom_right a.drp.active i {
	transform: rotate(180deg);
}

.sub_head {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid var(--border1);
	font-size: 15px;
}

.workshop_overview_wrap {
	background: var(--background1);
	border: 1px solid var(--border1);
	border-radius: 10px;
	padding: var(--gap);
}

.workshop_overview_wrap ul {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 10px;
}

.workshop_overview_wrap ul li {
	font-size: 11px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--dark2);
}

.workshop_overview_wrap ul li span {
	color: white;
}

.progress-bar-wrap {
	width: 100%;
}

.progress {
	background-color: var(--dark1);
	border-radius: 8px;
	position: relative;
	width: 100%;
	height: 8px;
}

.progress-done {
	background: #ffffff;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
	position: relative;
}

.progress-value {
	color: var(--dark2);
	font-size: 11px;
	margin-bottom: 7px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.progress-value n {
	color: white;
}

.accm_data_grid_ul li {
	flex-direction: column;
	gap: var(--gap);
	position: relative;
}

.accm_data_grid_ul li ol {
	padding: 0;
	display: flex;
	gap: 10px;
	width: 100%;

}

.accm_data_grid_ul li ol li {
	flex: 1;
	padding: 10px;
	align-items: center;
	justify-content: center;
	box-shadow: none;
	background: var(--dark1);
	gap: 1px;
	font-size: 13px;
}

.accm_data_grid_ul li ol li i {
	font-style: normal;
	font-size: 10px;
	color: var(--dark2);
	text-transform: uppercase;
}

.accm_data_grid_ul li g {
	background: var(--dark1);
	font-size: 11px;
	border-radius: 50px;
	padding: 3px 8px;
	position: absolute;
	right: 20px;
}

.com_info_wrap,
.com_info_box_content_sec {
	display: flex;
	align-items: start;
}

.com_info_left,
.com_info_box_content_sec_left {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	width: var(--cominfoleft);
	background: var(--background1);
	border-radius: 10px;
	border: 1px solid var(--border1);
	overflow: hidden;
}

.com_info_left h6,
.com_info_box_content_sec_left h6 {
	margin: 0;
	border-bottom: 1px solid var(--border1);
	font-size: 11px;
	text-transform: uppercase;
	color: var(--dark2);
	padding: 10px;
}

.com_info_left button,
.com_info_box_content_sec_left button {
	background: transparent;
	border: 0;
	color: white;
	text-align: left;
	padding: 10px;
	font-size: 11px;
	display: flex;
	align-items: center;
	gap: 8px;
	border: 0 !important;
}

.com_info_left button i {}

.com_info_right,
.com_info_box_content_sec_right {
	width: calc(100% - var(--cominfoleft));
	padding-left: var(--gap);
}

.com_info_box,
.com_info_box_content_sec_right_box {
	display: none;
}

.com_info_box.active,
.com_info_box_content_sec_right_box.active {
	display: block;
}

.com_info_box_grid {
	display: grid;
	gap: 15px;
}

.com_info_box_grid_box {}

.com_info_box_head {
	margin-bottom: 11px;
	display: flex;
	align-items: center;
	font-size: 15px;
	justify-content: space-between;
}

.com_info_box_head n {
	display: flex;
	align-items: center;
	gap: 10px;
}

.com_info_box_head span {}

.com_info_box_inner {
	padding: var(--gap);
	background: var(--background1);
	border-radius: 10px;
	border: 1px solid var(--border1);
}

.com_info_box_content_sec_right_box_head,
.com_info_box_inner_sub_head,
.tracking_sub_head,
.pg_shdl_box_head {
	margin: 0;
	border-bottom: 1px solid var(--border1);
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.com_info_branding_wrap {}

.com_info_branding_box {}

.branding_image_upload {
	border-radius: 10px;
	overflow: hidden;
	border: 1px dashed var(--dark2);
}

.branding_image_upload label {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	aspect-ratio: 1 / .6;
}

.branding_image_upload label span {
	background: var(--dark1);
	border: 1px solid var(--border1);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: var(--danger2);

}

.branding_image_upload label:hover span {
	transform: scale(1.05);

}

.branding_image_upload label span i {}

.branding_image_upload label n {
	margin-top: 8px;
	font-size: 12px;
}

.branding_image_upload label g {
	font-size: 10px;
	color: var(--dark2);
}

.branding_image_preview {
	aspect-ratio: 1 / .6;
	overflow: hidden;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	display: none;
}

.branding_image_preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s;
}

.branding_image_preview button {
	background: var(--dark1);
	border: 1px solid var(--border1);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: var(--danger2);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .5s;
}

.branding_image_preview:hover img {
	opacity: .6;
	transition: .5s;
}

.branding_image_preview:hover button {
	opacity: 1;
	transition: .5s;
}

.com_info_box_inner table tr td {
	background-color: #080808;
}

.tracking_report_box {
	border: 1px solid var(--border1);
	border-radius: 10px;
	overflow: hidden;
}

.tracking_report_box_head {
	padding: var(--gap);
	border-bottom: 1px solid var(--border1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tracking_report_box_head_left {
	display: flex;
	align-items: center;
	gap: 10px;
}

.tracking_report_box_head_left span {
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--dark1);
	border: 1px solid var(--border1);
	border-radius: 5px;
	color: var(--default2);
}

.tracking_report_box_head_left p {
	margin: 0;
	font-size: 13px;
	line-height: 17px;
}

.tracking_report_box_head_left p n {
	display: inline-block;
	width: 100%;
	font-size: 10px;
	color: var(--dark2);
}

.tracking_report_box_head_right {
	margin: 0;
	font-size: 10px;
	line-height: 17px;
	color: var(--dark2);
	text-align: right;
}

.tracking_report_box_head_right n {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: white;
	text-align: right;
}

.tracking_report_box .table_wrap {
	border-radius: 0;
}

.tracking_report_box .table_wrap tbody tr:last-child td {
	background: black;
}

.tracking_analytic_box {
	display: none;
}

.tracking_analytic_box.active {
	display: block;
}

.tracking_analytic_tab {
	/* flex: 1; */
	background: var(--background1);
	border: 1px solid var(--border1);
	border-radius: 8px;
	padding: 2px;
	/* display: flex; */
	align-items: center;
	gap: 6px;
	position: relative;
}

.tracking_analytic_tab_slider {
	display: inline-block;
	width: 30px;
	height: calc(100% - 4px);
	background-color: transparent;
	position: absolute;
	top: 50%;
	transition: all .4s linear;
	border: 2px solid #ffffff21;
	border-radius: 50px;
	transform: translateY(-50%);
}

.tracking_analytic_tab button {
	flex: 1;
	border: 0;
	text-transform: uppercase;
	font-size: 13px;
	padding: 6px;
	border-radius: 5px;
	background: transparent;
	color: white;
	position: relative;
}

.tracking_analytic_tab button:hover {
	background: var(--dark1);
}

.tracking_analytic_tab button.active {
	background: var(--default1);
	color: var(--default2);
}

.tracking_sub_head .add {
	color: var(--default2);
}

.track_frm_btm {
	margin-bottom: 0;
	margin-top: 10px;
	display: flex;
	justify-content: end;
	gap: 10px;
}

.track_frm_btm a {
	font-size: 10px;
	display: flex;
	gap: 8px;
	border: 1px solid var(--border1);
	border-radius: 50px;
	padding: 5px 11px;
	align-items: center;
	margin: 0;
}

.monitor_wrap {
	display: flex;
}

.monitor_left {
	width: calc(100% - var(--monitorright));
	padding-right: var(--gap);
}

.print_queue {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--gap);
	background: var(--background1);
	border-radius: 10px;
	border: 1px solid var(--border1);
}

.print_queue div {
	display: flex;
	align-items: center;
	gap: 10px;
}

.print_queue div span {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

.print_queue div p {
	margin: 0;
	font-size: 13px;
	line-height: 14px;
}

.print_queue div p i {
	display: inline-block;
	width: 100%;
	font-size: 11px;
	color: var(--dark2);
}

.print_queue a {
	border-radius: 50px;
	background: var(--danger1);
	font-size: 10px;
	padding: 3px 10px;
	font-weight: 300;
	letter-spacing: .5px;
}

.traffic_check {
	padding: var(--gap);
	background: var(--background1);
	border-radius: 10px;
	border: 1px solid var(--border1);
}

.monitor_left .regi_data_grid_ul {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.monitor_left .regi_data_grid_ul li h4 {
	margin-bottom: 0;
	margin-top: 8px;
}

.monitor_right {
	width: var(--monitorright);
	background: var(--background1);
	border: 1px solid var(--border1);
	border-radius: 10px;
	height: calc(100vh - var(--logowrap) - calc(var(--gap) * 2));
	position: sticky;
	top: 0;
	overflow: auto;
}

.monitor_right_head {
	margin: 0;
	border-bottom: 1px solid var(--border1);
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--background1);
	position: sticky;
	top: 0;
}

.monitor_right h5 span {
	color: var(--success2);
	font-size: 10px;
}

.monitor_right ul {
	padding: 15px;
}

.monitor_right ul li {
	display: flex;
	gap: 10px;
	align-items: center;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid var(--border1);
}

.monitor_right ul li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.monitor_right ul li span {
	width: 26px;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	font-size: 11px;
}

.monitor_right ul li p {
	margin: 0;
	font-size: 11px;
}

.monitor_right ul li p b {
	color: var(--dark2);
	font-weight: normal;
	display: flex;
	gap: 5px;
	align-items: center;
}

.regi_data_grid_ul li h4 n {
	font-size: 13px;
	font-weight: 400;
}

.live_sys {
	animation: live 1s infinite ease-in-out alternate;
}

.live_sys i {
	font-size: 6px;

}

@keyframes live {
	from {
		opacity: 1;
	}

	to {
		opacity: .5;
	}
}

.wrkshp_trak g {
	margin-left: -12px;
	opacity: 0;
	transition: .5s;
}

.wrkshp_trak:hover g {
	margin-left: 0px;
	opacity: 1;
	transition: .5s;
}

.wrkshp_trak.active g {
	margin-left: 0px;
	opacity: 1;
	transform: rotate(180deg);
}

.pg_shdl_wrap {
	display: flex;
	gap: var(--gap);
}

.pg_shdl_box {
	flex: 1;
}

.pg_shdl_box ul {
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.pg_shdl_box ul li {
	padding: var(--gap);
	background: var(--background1);
	border-radius: 10px;
	border: 1px solid var(--border1);
	display: flex;
	justify-content: start;
	align-items: start;
	gap: 7px;
	border-left-width: thick;
	flex-direction: column;
	position: relative;
}

.pg_shdl_time {
	font-size: 11px;
	display: flex;
	align-items: center;
	gap: 4px;
	/* min-width: 88px; */
	position: absolute;
	right: var(--gap);
}

.pg_shdl_time p {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 1px;
}

.pg_shdl_details {}

.pg_shdl_details span.badge_padding {
	display: flex;
	gap: 7px;
	align-items: center;
	margin-bottom: 3px;
	font-weight: 600;
	font-size: 10px;
	text-transform: uppercase;
	width: max-content;
}

.pg_shdl_details .regi_name {}

.pg_shdl_details .regi_contact {
	margin-top: 1px;
}

.pg_shdl_action {
	display: flex;
	align-items: end;
	justify-content: space-between;
	gap: 1px;
	/* flex-direction: column; */
	width: 100%;
}

.pg_shdl_action button {
	font-size: 11px;
	display: flex;
	align-items: center;
	justify-content: start;
	border-radius: 0;
	padding: 0;
	gap: 7px;
	cursor: pointer;
	border: 0;
	color: var(--dark2);
	background: transparent;
}

.pg_shdl_action button:hover,
.pg_shdl_action button.active {
	color: var(--default2);
}

.pg_shdl_tals_wrap {
	width: 100%;
	padding-top: var(--gap);
	border-top: 1px solid var(--border1);
	display: none;
}

.pg_shdl_talk_box {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.pg_shdl_talk_box p {
	margin: 0;
	display: flex;
	align-items: start;
	gap: 10px;
	font-size: 11px;
	color: var(--dark2);
}

.pg_shdl_talk_box p n {}

.pg_shdl_talk_box p g {
	line-height: 16px;
	color: white;
}

.pg_shdl_talk_box p span {
	display: inline-block;
	width: 100%;
	color: var(--dark2);
}

#newsession,
#editsession {
	width: 48%;
}

.talk_sub .form_grid {

	grid-template-columns: repeat(15, minmax(0, 1fr));
}

.talk_sub .accm_delet {
	margin-top: 24px;
}

.frm-head.sub-frm-head {
	font-size: 10px;
}

.stall_grid_wrap {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: var(--gap);
}

.stall_box {
	background: var(--background1);
	padding: var(--gap);
	border: 1px solid var(--border1);
	border-radius: 10px;
}

.stall_box .action_div {
	margin-left: auto;
}

.stall_box .regi_type span {
	font-size: 11px;
}

.stall_box .spot_details {
	width: 100%;
	border-top: 1px solid var(--border1);
	padding-top: var(--gap);
	margin-top: var(--gap);
	padding-left: 0;
}

.stall_box .spot_details .spot_details_box h5 {
	font-size: 10px;
}

.stall_box .spot_details .spot_details_box h6 {
	font-size: 14px;
}

.stall_box .spot_details .spot_details_box .pay_status {
	font-size: 10px;
}

#newexibitor {
	width: 50%;
}

.exibitor_sub .form_grid {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.exibitor_sub .frm_sub_head {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: var(--dark2);
	border-bottom: 1px solid var(--border1);
	padding-bottom: 7px;
	margin-bottom: 10px;
}

/* .select2-container {
	width: 100% !important;
}
.select2-container--open{
	width: 0 !important;
} */

.select2-container--default .select2-selection--multiple {
	background-color: transparent !important;
	border: 1px solid var(--border1) !important;
	border-radius: 5px !important;
	cursor: text;
	height: 37px;
}

.select2-dropdown {
	background-color: var(--background1) !important;
	border: none !important;
	border-radius: 0 !important;
}

.select2-results__option {
	padding: 8px !important;
	font-size: 10px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: var(--success1) !important;
	color: var(--success2);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: var(--default1) !important;
}

.select2-container .select2-search--inline .select2-search__field {
	font-size: 12px !important;
	margin-top: 0 !important;
	height: 35px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
	display: flex !important;
	align-items: center;
	overflow: auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: var(--default1) !important;
	border: 1px solid var(--default1) !important;
	margin-top: 0 !important;
	color: var(--default2);
	font-size: 12px;
}

.selection__choice__remove {
	color: var(--dark2) !important;
	font-weight: normal Im !important;
	margin-right: 3px !important;
}

.indentify_wrap {
	display: flex;
	gap: var(--gap);
}

.indentify_left {
	flex: 1;
	padding: var(--gap);
	background: var(--background1);
	border-radius: 10px;
	border: 1px solid var(--border1);
	text-align: center;
}

.card_indetify {}

.card_indetify span {
	background: var(--dark1);
	display: inline-block;
	padding: 12px 15px;
	font-size: 24px;
	color: var(--dark2);
	border: 1px dashed var(--border1);
	border-radius: 50px;
}

.card_indetify h5 {
	margin-top: 12px;
	font-size: 15px;
	margin-bottom: 2px;
}

.card_indetify p {
	color: var(--dark2);
	font-size: 10px;
}

.card_indetify .frm_grid input {}

.indentify_right {
	flex: 1;
	padding: var(--gap);
	background: var(--background1);
	border-radius: 10px;
	border: 1px solid var(--border1);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.identify_details ul {
	display: flex;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin: 15px 0;
	background: var(--dark1);
	padding: var(--gap);
	border-radius: 10px;
}

.identify_details ul li {
	line-height: 16px;
	text-align: left;
}

.identify_details ul li span {
	font-size: 10px;
	text-transform: uppercase;
	color: var(--dark2);
	display: inline-block;
	width: 100%;
}

.identify_details ul li n {
	font-size: 12px;
}

#newguest,
#editguest,
#editworkshoptariff {
	width: 50%;
}

.typed_data {
	margin: 0;
	font-size: 13px;
}

.frm-image {
	font-size: 11px;
	color: var(--dark2);
	display: block;
	text-align: center;
	height: 37px;
	border-radius: 10px;
	overflow: hidden;
	border: 1px dashed var(--border1);
	line-height: 35px;
}

.frm_img_preview {
	width: 100%;
	height: 37px;
	position: relative;
	background: var(--dark1);
	border-radius: 5px;
	display: none;
}

.frm_img_preview img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.frm_img_preview button {
	background: transparent;
	padding: 0;
	border: 0;
	font-size: 10px;
	color: var(--danger2);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.frm_img_preview:hover img {
	opacity: .2;
}

.frm_img_preview:hover button {
	display: block;
}

.header_img {
	height: 37px;
	position: relative;
	/* background: var(--dark1);
    border-radius: 5px; */
}

.list-action {
	display: flex;
	gap: 10px;
	margin-top: 12px;
	background: var(--background1);
	border: 1px solid var(--border1);
	border-radius: 10px;
	overflow: hidden;
	width: 160px;
}

.list-action select {
	width: 96px !important;
	background: var(--background1);
	height: 35px;
}

.list-action button {
	padding: 6px 10px;
	font-size: 11px;
	border: 0;
	background: transparent;
	border-left: 1px solid var(--border1);
	color: var(--success2);
}

.accm_ul {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.accm_ul li {
	background: var(--dark1);
	border: 1px solid var(--border1);
	border-radius: 50px;
	padding: 4px 9px;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 10px;
}

.accm_ul li img {
	width: 20px;
	height: 20px;
}

.aminity_ul {}

.room_ul {}

.room_ul li {
	border-radius: 5px;
	padding: 7px;
}

.room_ul li img {
	width: 50px;
	height: 50px;
}

.countdown {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: var(--gap);
}

.countdown hr {
	height: 34px;
	width: 1px;
	background: #ffffff54;
	opacity: 1;
	margin: 0;
	position: relative;
	display: inline-block;
}

.countdown li {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.countdown li::before {
	border-radius: 8px;
	position: absolute;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	border: 1px solid #fff6de;
	left: 4px;
	top: 4px;
}

.countdown li n {
	color: #FFF4DD;
	position: relative;
	font-size: 37px;
	line-height: 40px;
}

.countdown li i {
	font-style: normal;
	font-size: 12px;
	text-transform: uppercase;
	color: var(--text-muted);
	font-weight: 500;
}

.toaster {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 15px;
	z-index: 2;
	display: none;
}

.toaster_inner {
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 50px;
	padding: 10px;
}

.toaster_inner span {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	border-radius: 50px;
}

.toaster_inner p {
	font-size: 12px;
	margin: 0;
}

.toggleswitch {
  cursor: pointer;
  display: inline-block;
}

.toggleswitch-switch {
  display: inline-block;
  background: var(--success1);
  border-radius: 16px;
  width: 26px;
  height: 18px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggleswitch-switch:before, .toggleswitch-switch:after {
  content: "";
}
.toggleswitch-switch:before {
  display: block;
  background: var(--success2);
  border-radius: 50%;
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25); */
  width: 10px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggleswitch:hover .toggleswitch-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggleswitch-checkbox:checked + .toggleswitch-switch {
  background: var(--danger1);
}
.toggleswitch-checkbox:checked + .toggleswitch-switch:before {
  left: 12px;
  background: var(--danger2);
}

.toggleswitch-checkbox {
  position: absolute;
  visibility: hidden;
  display: none;
}
